<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Jan Henrik Gundelsby" />
   <meta name="readability-verification" content="QCzSs992GxmRYRKVpPeZ6LE2tS8aYKxsSSQKV8YM"/>

   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />

   <!-- Typekit -->
   <script type="text/javascript" src="http://use.typekit.com/jpd0pfm.js"></script>
   <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  <!-- Google Analytics -->
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-35123816-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
  <!-- Google Analytics end -->
</head>
<body>

<div class="site">
  <div class="title">
    <img align="right" src="http://s.gravatar.com/avatar/d8f2304e4b47c512f821f2bcc241616a?s=80"/>
    <a href="/">Jan Henrik Gundelsby</a>
    <a class="extra" href="/">home</a>
  </div>
  
  {{ content }}
  
  <div class="footer">
    <div class="contact">
      <p>
        Jan Henrik Gundelsby<br />
        janhenrik@gundelsby.com
      </p>
    </div>
    <div class="contact">
      <p>
        <a href="http://github.com/janhenrik/">github.com/janhenrik</a><br />
        <a href="http://twitter.com/janhenrik/">twitter.com/janhenrik</a><br />
        <a href="http://linkedin.com/in/janhenrikgundelsby">linkedin.com/in/janhenrikgundelsby</a><br />
      </p>
    </div>
    <div class="rss">
      <a href="http://gundelsby.com/atom.xml">
        <img src="/images/rss.png" alt="Subscribe to RSS Feed" />
      </a>
    </div>
  </div>
</div>
</body>
</html>
